html {
  display: block;
  font-size: 16px;
  margin:0;
  padding:0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #454545;
  font-family: "Roboto";
}
* {
  box-sizing: border-box;
}
body {
  line-height: 1;
}
a {
  text-decoration: none;
  color: inherit;
}
.flex {
  display: flex;
}

/* Start flexer Section */


nav {
  justify-content: space-between;
}
.navbar {
  margin-right: 24px;
  align-items: center;
}
.navbar ul li {
  padding: 0 8px;
  display: inline;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.logo img {
  height: 40px;
}
#colmar {
  font-weight: 900;
}
.logo {
  align-items: center;
  margin-left: 24px;
  font-size: 32px;
}
.banner {
  padding: 32px 24px;
}
.bannerimg img {
  width: 100%;
  height: auto;
}
.bannerimg {
  width: 60%;
  margin: 54px 24px 0 0;
}
.bannerText {
  line-height: 1.2;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  padding-top: 80px;
}



.infoLeft {
  flex-direction: column;
  height: auto;
  margin: 0 0 0 32px;
  width: 60%;
  border-right: 1px solid #D8D8D8;
  padding-right: 24px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.infoLeft img {
  height: auto;
  width: 100%;
}


.infoRight {
  flex-direction: column;
  width: 40%
}

.infobox img {
  width: 35%;
  height: 100%;
  margin-right: 16px;
  padding: 16px;
}
.infoText {
  justify-content:center;
  align-items: flex-start;
  flex-direction: column;
  line-height: 1;
  width: 65%
}
.courses.flex {
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  align-self: center;
  width:928px;
}
.courses{
  margin-left: 72px;
  margin-right: 72px;
}
.coursetxt {
  padding: 0 16px 16px 16px;
}
.course {
  width: 285px;
  margin-bottom: 32px;
  text-align: left;
  flex-direction: column;
  background-color: white;
  transition: all 100ms ease-in;
}
.course img {
  width: 100%;
  height: auto;
}
.curriculum {
  text-align: center;
  flex-direction: column;
  justify-content: center;
}


.thesisLeft img {
  height: auto;
  width: 60%;
}
video {
  width: 100%;
  height: auto;
}
.thesisRight {
  flex-direction: column;
  width: 40%;
}
.infobox.flex.noborder {
  border-bottom: none;
}

.thesisinfobox img {
  width: 35%;
  height: 100%;
  margin-right: 16px;
}
.thesisinfobox {
  width: 100%;
  padding:  16px 0 16px 16px;
}
footer.container {
  justify-content: space-between;
  padding: 0 24px 40px 24px;
}
/* Basic Structure Frame */
flexer {
  width: 100%;
  height: 64px;
  position: fixed;
  z-index: 1;
  background-color: white;
  border-bottom: 1px solid rgb(56, 56, 56);
  margin-top: -10px;
  padding: 0;
}
.banner {
  background-color: #D8D8D8;
}
.info {
  background-color: #ffffff;
}
.curriculum {
  background-color: #EAEBEC;
}
.thesis {
  background-color: #F3F5F5;
  flex-direction: column;
}
/* Text */
.bannerText h2 {
  font-size: 32px;
  font-weight: 700;
}
.bannerText p {
  font-size: 24px;
  margin-top: 24px;
  margin-bottom: 16px;
}

.infoText a {
  color: rgb(0, 165, 255);
}
.infoText p {
  margin: 16px 0;
  color: #7A7A7A;
  font-weight: 300;
  line-height: 1;
}
.infoLeft p {
  color: #7A7A7A;
  font-weight: 300;
  line-height: 1;
}
.infoLeft h3 {
  font-size: 32px;
  font-weight: 600;
  padding-top: 32px;
  padding-bottom: 24px;
}
.infoText h3 {
  font-size: 24px;
}
.infoText.flex{
  vertical-align: middle;
}
.quote {
  font-style: none;
  margin: 16px 0;
}
.origin {
  font-size: 18px;
  padding: 16px 0;
}
.coursetxt p {
    color: #7A7A7A;
    font-weight: 300;
    line-height: 1;
    padding-bottom: 8px;
}
.coursestart {
  font-size: 32px;
  font-weight: 600;
  padding-top: 32px;
  padding-bottom: 32px;
}
.courseflexer {
  font-size: 24px;
  margin-top: 20px;
  padding-bottom: 20px;
}

.thesisLeft h3 {
  font-size: 32px;
  padding-top: 24px;
  padding-bottom: 8px;
}
.thesisLeft p {
  color: #7A7A7A;
  font-weight: 300;
  line-height: 1;
}
.thesis h2 {
  font-size: 32px;
  font-weight: 600;
  padding-top: 32px;
  text-align: center;
}
.footerright p {
  padding-left: 24px;
}
p.origin {
  color: #7A7A7A;
  padding-top: 8px;
}
/* Border */

.thesisLeft {
  flex-direction: column;
  height: auto;
  margin: 0 0 0 24px;
  width: 60%;
  padding-right: 24px;
  padding-bottom: 32px;
  padding-top: 24px;
}
.infobox {
  width: 40%
  padding: 32px 0 24px 32px;
  border-bottom: 1px solid #D8D8D8;
}
.academy {
  color: #7A7A7A;
}

/* Mobile */
.mobile {
  display: none;
}
.mobile-navbar {
  justify-content: space-around;
  flex-grow: 1;
}

/* Media Queries */


@media screen and (max-width: 590px) {
.logo, .navbar , .infoLeft , .courses , .thesisLeft h3 , .thesisLeft p , .thesisRight, .footerright {
   display: none;
 }
.banner {
  flex-direction: column;
  align-content: center;
}
.bannerimg , .bannerText {
  width: 100%;
}
.banner .bannerimg {
  margin: 64px 0 0 0;
}
.bannerText {
  padding: 32px 16px 0 16px;
}
.button {
  margin: 0 auto;
}
 .mobile {
   display: inherit;
 }
 img.mobile {
   width: 100%;
 }
 .infobox {
   width: 100%;
   min-width: 550px;
   flex-direction: column;
   border: none;
 }
 .infobox img{
   padding: 16px;
   flex-direction: row;
   max-width: 500px;
   align-items: center;
 }
 .boxImg {
   display: none;
 }
 .infoText h3 {
   margin-top: 16px;
 }
 .infoText {
   margin-left: 16px;
   margin-bottom: 32px;
   vertical-align: middle;
 }
.mobile-course {
  flex-direction: column;
  margin: 0 16px 16px 16px;
}
 .mobile-block {
   background-color: #D8D8D8;
   padding: 16px 0 16px 16px;
   margin-bottom: 8px;
   text-align: left;
   font-size: 24px;
 }
 .thesisLeft {
   width: 100%;
 }
 .thesisinfobox {
   flex-direction: column;
 }

}

/*Tablet */
@media screen and (max-width: 768px) {
  .courses.flex {
    width: 608px;
  }
  .banner {
    flex-direction: column;
    align-content: center;
  }
  .bannerimg , .bannerText {
    width: 100%;
  }
  .banner .bannerimg {
    margin: 64px 0 0 0;

  }
  .bannerText {
    padding: 32px 16px 0 16px;
    text-align: center;
  }
  .button {
    margin: 0 auto;
  }
}

.infobox:hover {
  background-color: #dee0e2;
  transition: background-color 100ms ease-in-out,
    color 100ms linear;
}
.thesisinfobox:hover {
  background-color: #dee0e2;
  transition: background-color 100ms ease-in-out,
    color 100ms linear;
}
.bannerText .button:hover {
  background-color: #717171;
  color: white;
  transition: background-color 500ms linear,
    color 500ms linear;
}

.bannerText .button:active {
  background-color: #1c91c7;
  color: white;
  transition: none;
}
.navbar ul li:hover {
  background-color: #5d5d5d ;
  color: white;
  transition: background-color 200ms ease-in-out,
    color 200ms linear;
}

.navbar ul li:active {
  background-color: #008bd1;
  transition: none;
}
.bannerText .button {
  padding: 16px;
  background-color: #353535;
  color: white;
  text-align: center;
  margin-top: 24px;
  width: 88%;
  font-weight: 400;
  font-size: 24px;
}
.course:hover {
  transform: scale(1.025);
  box-shadow: -3px 2.5px 4.5px 0px #8a8a8a;
}
